* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #041F3D;
  font-family: 'Source Sans Pro', sans-serif;
}



header {
  padding: 32px;
  border-bottom: 1px solod #333;
  background: #0B2D40;
}

.links {
  text-align: center;
}

.links a {
  color: #C4E336;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}

.links a:hover {

  color: #A7D175;
  transition: color 200ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
  color: #DFEBEF;
  top: 10px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid #284B59;
  margin-bottom: 32px;
  height: 380px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

#links-footer a {
  border-bottom: 1px solid #2293FB;
  font-size: 24px;
}

#links-header a {
  font-size: 24px;
}

/* CARDS */

.cards {
  max-width: 800px;
  margin: 0 auto;
  top: 20px;
}

.card {
  background-color: #041F3D;
  color: #DFEBEF;
  text-align: justify;
}

.card__image-container img {
  width: 100%;
}

.card__content,
.card__info {
  top: 10px;
  padding: 24px;
  font-size: 20px;
}

.card__tecnologias {
  padding: 24px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  /*  padding: 5px 25px;
  border: 1px solid #2293FB; */
  border-radius: 20px;
}

/*  MODAL */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #355070;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: #131218;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/* MODAL ACTIVE */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}